# Dependencies
node_modules/

# Build Output
.next/
out/
dist/

# Production
.next/
out/

# Static files build cache
.next/cache/
SETUP.md


# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / Editor files
.DS_Store
Thumbs.db


